body{
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.Core_drivia{
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Core_drivia_image{
    transform: rotate(90deg);
}