body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.back{
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.gamen_start{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

.start_button{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 70vh;
    bottom: 20vh;
    height: 10vh;
    color: red;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    opacity: 1;
    z-index: -100;
}

.Core_drivia{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15vh;
    bottom: 20vh;
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    opacity: 0.8;
}

.Core_drivia_image{
    margin: 0;
    padding: 0;
    transform: rotate(90deg);
    z-index: 40;
}

.loading{
    margin: 0;
    padding: 0;
    position: absolute;
    height: 10vh;
    width: 80vw;
    top: 75vh;
    bottom: 15vh;
    left: 10vw;
    right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    opacity: 0.9;
    font-size: 5vh;
}

#loading{
    margin: 0;
    padding: 0;
    background-color: white;
    z-index: 60;
}


.last_time{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5vh;
    height: 10vh;
    width: 100vw;
    text-align: center;
    font-size: 10vh;
    z-index: 60;
}