.Core_drivia{
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    width: 100vw;
    height: 80vh;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}